[submodule "cpp/3rdparty/libigl"]
	path = cpp/3rdparty/libigl
	url = https://github.com/libigl/libigl.git
[submodule "cpp/3rdparty/geogram"]
	path = cpp/3rdparty/geogram
	url = https://github.com/alicevision/geogram.git
[submodule "cpp/3rdparty/json"]
	path = cpp/3rdparty/json
	url = https://github.com/nlohmann/json.git
[submodule "cpp/3rdparty/imgui/imgui"]
	path = cpp/3rdparty/imgui/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "cpp/3rdparty/glfw"]
	path = cpp/3rdparty/glfw
	url = https://github.com/glfw/glfw.git
