[submodule "cpp/3rdparty/libigl"]
	path = cpp/3rdparty/libigl
	url = https://github.com/libigl/libigl.git
[submodule "cpp/3rdparty/geogram"]
	path = cpp/3rdparty/geogram
	url = https://github.com/alicevision/geogram.git
