[submodule "cpp/3rdparty/libigl"]
	path = cpp/3rdparty/libigl
	url = https://github.com/libigl/libigl.git
[submodule "cpp/3rdparty/geogram"]
	path = cpp/3rdparty/geogram
	url = https://github.com/alicevision/geogram.git
[submodule "cpp/3rdparty/json"]
	path = cpp/3rdparty/json
	url = https://github.com/jdumas/json.git
[submodule "cpp/3rdparty/Catch2"]
	path = cpp/3rdparty/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "cpp/3rdparty/tinyformat"]
	path = cpp/3rdparty/tinyformat
	url = https://github.com/c42f/tinyformat.git
[submodule "cpp/3rdparty/CppNumericalSolvers"]
	path = cpp/3rdparty/CppNumericalSolvers
	url = https://github.com/PatWie/CppNumericalSolvers.git
[submodule "cpp/3rdparty/spectra"]
	path = cpp/3rdparty/spectra
	url = https://github.com/yixuan/spectra.git
[submodule "cpp/3rdparty/tbb"]
	path = cpp/3rdparty/tbb
	url = https://github.com/wjakob/tbb.git
[submodule "cpp/3rdparty/hypre"]
	path = cpp/3rdparty/hypre
	url = https://github.com/LLNL/hypre.git
[submodule "cpp/3rdparty/rbf"]
	path = cpp/3rdparty/rbf
	url = https://teseoch@bitbucket.org/zulianp/opencl-rbf-pum.git
