# In order to persistently set default options for your project, copy this file
# and remove the '.sample' suffix. Then uncomment the relevant options for your
# project. Note that this file is included before `project(PolyFEM)` is defined,
# so we can use it to define the C and C++ compilers, but some variables such as
# PROJECT_SOURCE_DIR will not be defined yet. You can use CMAKE_SOURCE_DIR instead.

################################################################################
# CMake Options
################################################################################

# Specify a custom install prefix path
# set(CMAKE_INSTALL_PREFIX ${CMAKE_SOURCE_DIR}/install CACHE STRING "Install directory used by install().")

# Generates a `compile_commands.json` that can be used for autocompletion
# set(CMAKE_EXPORT_COMPILE_COMMANDS ON CACHE BOOL "Enable/Disable output of compile commands during generation.")

# Use ccache to speed up compilation of repeated builds
# find_program(CCACHE_PROGRAM ccache)
# if(CCACHE_PROGRAM)
#     message(STATUS "Enabling Ccache support")
#     set(CMAKE_C_COMPILER_LAUNCHER   ${CCACHE_PROGRAM} CACHE STRING "")
#     set(CMAKE_CXX_COMPILER_LAUNCHER ${CCACHE_PROGRAM} CACHE STRING "")
# endif()

# Use a specific C/C++ compiler, e.g. llvm-clang on macOS (so we can use clangd)
# set(CMAKE_C_COMPILER   "/usr/local/opt/llvm/bin/clang"   CACHE STRING "C compiler")
# set(CMAKE_CXX_COMPILER "/usr/local/opt/llvm/bin/clang++" CACHE STRING "C++ compiler")

# Set deployment platform for macOS
# set(CMAKE_OSX_DEPLOYMENT_TARGET 10.12 CACHE STRING "macOS deployment target")

# Always add colored output (e.g. when using Ninja)
# list(APPEND CMAKE_CXX_FLAGS -fdiagnostics-color=always) # GCC
# list(APPEND CMAKE_CXX_FLAGS -fcolor-diagnostics) # Clang

################################################################################
# PolyFEM Options
################################################################################

# option(POLYFEM_WITH_REMESHING      "Uses VMTK for remeshing"                     OFF)
# option(POLYFEM_WITH_TESTS          "Build tests"                                 ON)
# option(POLYFEM_WITH_CLIPPER        "Use clipper, necessary for polygonal bases"  ON)

# Polyfem options for enabling/disabling optional libraries
# option(POLYFEM_REGENERATE_AUTOGEN  "Generate the python autogen files"          OFF)
# set(POLYFEM_THREADING "TBB" CACHE STRING "Multithreading library to use (options: CPP, TBB, NONE)")

# option(POLYSOLVE_WITH_CHOLMOD      "Enable Cholmod library"                      ON)
# option(POLYSOLVE_WITH_UMFPACK      "Enable UmfPack library"                      ON)
# option(POLYSOLVE_WITH_SUPERLU      "Enable SuperLU library"                      ON)
# option(POLYSOLVE_WITH_MKL          "Enable MKL library"                          ON)
# option(POLYSOLVE_WITH_PARDISO      "Enable Pardiso library"                     OFF)
# option(POLYSOLVE_WITH_HYPRE        "Enable hypre"                                ON)
# option(POLYSOLVE_WITH_AMGCL        "Use AMGCL"                                   ON)
# option(POLYSOLVE_WITH_SPECTRA      "Enable computing spectrum"                  OFF)
# option(POLYSOLVE_LARGE_INDEX       "Build for large indices"                    OFF)

# set(POLYFEM_DATA_DIR "" CACHE PATH "Where should polyfem download and look for test data?")
# option(POLYFEM_USE_EXISTING_DATA_DIR "Use and existing data directory instead of downloading it" OFF)

################################################################################
# FetchContent Options
################################################################################

# option(FETCHCONTENT_FULLY_DISCONNECTED   "Disables all attempts to download or update content and assumes source dirs already exist" OFF)
# option(FETCHCONTENT_UPDATES_DISCONNECTED "Enables UPDATE_DISCONNECTED behavior for all content population" OFF)
# option(FETCHCONTENT_QUIET                "Enables QUIET option for all content population" ON)
# set(FETCHCONTENT_BASE_DIR "${CMAKE_BINARY_DIR}/_deps" CACHE PATH "Directory under which to collect all populated content")

# Development Locations for Third Party Libraries
# set(FETCHCONTENT_SOURCE_DIR_AMGCL "" CACHE PATH "When not empty, overrides where to find pre-populated content for amgcl")
# set(FETCHCONTENT_SOURCE_DIR_BOOST "" CACHE PATH "When not empty, overrides where to find pre-populated content for Boost")
# set(FETCHCONTENT_SOURCE_DIR_BOOST-CMAKE "" CACHE PATH "When not empty, overrides where to find pre-populated content for boost-cmake")
# set(FETCHCONTENT_SOURCE_DIR_BVH_LIB "" CACHE PATH "When not empty, overrides where to find pre-populated content for BVH_lib")
# set(FETCHCONTENT_SOURCE_DIR_CATCH2 "" CACHE PATH "When not empty, overrides where to find pre-populated content for catch2")
# set(FETCHCONTENT_SOURCE_DIR_CLI11 "" CACHE PATH "When not empty, overrides where to find pre-populated content for cli11")
# set(FETCHCONTENT_SOURCE_DIR_CPPOPTLIB "" CACHE PATH "When not empty, overrides where to find pre-populated content for cppoptlib")
# set(FETCHCONTENT_SOURCE_DIR_EIGEN "" CACHE PATH "When not empty, overrides where to find pre-populated content for eigen")
# set(FETCHCONTENT_SOURCE_DIR_HDF5 "" CACHE PATH "When not empty, overrides where to find pre-populated content for hdf5")
# set(FETCHCONTENT_SOURCE_DIR_HIGH_FIVE "" CACHE PATH "When not empty, overrides where to find pre-populated content for high_five")
# set(FETCHCONTENT_SOURCE_DIR_IPC_TOOLKIT "" CACHE PATH "When not empty, overrides where to find pre-populated content for ipc_toolkit")
# set(FETCHCONTENT_SOURCE_DIR_LBFGSPP "" CACHE PATH "When not empty, overrides where to find pre-populated content for lbfgspp")
# set(FETCHCONTENT_SOURCE_DIR_LIBIGL "" CACHE PATH "When not empty, overrides where to find pre-populated content for libigl")
# set(FETCHCONTENT_SOURCE_DIR_MKL-INCLUDE "" CACHE PATH "When not empty, overrides where to find pre-populated content for mkl-include")
# set(FETCHCONTENT_SOURCE_DIR_MKL-STATIC "" CACHE PATH "When not empty, overrides where to find pre-populated content for mkl-static")
# set(FETCHCONTENT_SOURCE_DIR_MSHIO "" CACHE PATH "When not empty, overrides where to find pre-populated content for mshio")
# set(FETCHCONTENT_SOURCE_DIR_NLOHMANN_JSON "" CACHE PATH "When not empty, overrides where to find pre-populated content for nlohmann_json")
# set(FETCHCONTENT_SOURCE_DIR_POLYFEM_GEOGRAM "" CACHE PATH "When not empty, overrides where to find pre-populated content for polyfem_geogram")
# set(FETCHCONTENT_SOURCE_DIR_POLYSOLVE "" CACHE PATH "When not empty, overrides where to find pre-populated content for polysolve")
# set(FETCHCONTENT_SOURCE_DIR_SANITIZER "" CACHE PATH "When not empty, overrides where to find pre-populated content for sanitizer")
# set(FETCHCONTENT_SOURCE_DIR_SPDLOG "" CACHE PATH "When not empty, overrides where to find pre-populated content for spdlog")
# set(FETCHCONTENT_SOURCE_DIR_SUITESPARSE "" CACHE PATH "When not empty, overrides where to find pre-populated content for suitesparse")
# set(FETCHCONTENT_SOURCE_DIR_SWEEP_AND_TINIEST_QUEUE "" CACHE PATH "When not empty, overrides where to find pre-populated content for sweep_and_tiniest_queue")
# set(FETCHCONTENT_SOURCE_DIR_TBB "" CACHE PATH "When not empty, overrides where to find pre-populated content for tbb")
# set(FETCHCONTENT_SOURCE_DIR_TIGHT_INCLUSION "" CACHE PATH "When not empty, overrides where to find pre-populated content for tight_inclusion")
# set(FETCHCONTENT_SOURCE_DIR_TINYEXPR "" CACHE PATH "When not empty, overrides where to find pre-populated content for tinyexpr")
# set(FETCHCONTENT_SOURCE_DIR_TINYXML "" CACHE PATH "When not empty, overrides where to find pre-populated content for tinyxml")

